{% extends "base.html" %}

<title>{% block title %} {{title}} {% endblock%}</title>


{% block app_content %}


<div class="container-index">
  {% for street in cities_list %}
    {% if  street.street_geo %}
      <h1 class="h3 mb-3 font-weight-normal">{{ street.street_geo }}</h1>
    {% else %}
      <h1 class="h3 mb-3 font-weight-normal">{{ street.street_search }}</h1>
    {% endif %}
{% endfor %}
<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Nuevos
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Antiguos <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
</div>

{% endblock app_content %}
